/* Контент и список */
ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 100px; /* место под плавающий input */
}

.message{
  margin-bottom: 75px;
}

ion-list {
  flex: 1;
  overflow-y: auto;
}

.arrow-button {
  all: unset;              /* убирает все дефолтные стили ion-button */
  display: block;          /* чтобы изображение было видно */
  cursor: pointer;
  background: transparent;
}

.arrow-button img {
  width: 10px;
  height: 15px;
}

ion-list ion-item {
  background: #f1f1f1;
  margin-bottom: 4px;
  border-radius: 4px;
}

/* Плавающий input (сосиска) */
.chat-input-sausage {
  position: fixed;          /* поверх всего */
  bottom: 20px;             /* отступ от низа экрана */
  left: 50%;                /* центрирование */
  transform: translateX(-50%);
  width: 90%;            /* ширина сосиски */
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 50px;      /* закруглённая сосиска */
  background-color: #D9D9D9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 100;             /* точно поверх всего */
}

/* Внутренние элементы */
.chat-input-sausage ion-input {
  flex: 1;
  margin-right: 8px;
}

.chat-input-sausage ion-button {
  --border-radius: 25px;
}

ion-header {
  background-color: #D9D9D9; /* базовый цвет */
  opacity: 0.85;
  height: 85px;
  border: 1px solid #D9D9D9;
  -moz-border-radius-topleft: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

ion-header ion-toolbar {
  --background: transparent !important; /* прозрачный фон */
  --border-width: 0 !important;        /* убирает внутреннюю границу */
  box-shadow: none !important;         /* убираем тень */
  border: none !important;               /* убираем границу */
}

.back-icon {
  width: 24px;   /* размер стрелки */
  height: 24px;
  object-fit: contain;
}

