/* Контент и список */
ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 100px; /* место под плавающий input */
}

.message{
  margin-bottom: 90px;
}

ion-list {
  flex: 1;
  overflow-y: auto;
  background: transparent;
}


.arrow-button {
  all: unset;              /* убирает все дефолтные стили ion-button */
  display: block;          /* чтобы изображение было видно */
  cursor: pointer;
  background: transparent;
}

.arrow-button img {
  width: 10px;
  height: 15px;
}

ion-list ion-item {
  --background: #D9D9D9;
  --color: #000000;
  box-shadow: none;
  margin-bottom: 4px;
  border: 3px solid #bcbcbc;
  border-radius: 10px;
  max-width: 75%;
  width: fit-content;
}

/* Плавающий input (сосиска) */
.chat-input-sausage {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  /* height: 40px; */
  min-height: 40px;
  display: flex;
  align-items: flex-end;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: #D9D9D9;
  z-index: 100;
}

/* Внутренние элементы */
.chat-input-sausage ion-input {
  --color: #000000;       /* цвет текста */
  --caret-color: #6A041D; /* цвет курсора*/
  --highlight-color-focused: #000000;
  --highlight-color: #6A041D;
  --highlight-height: 0;
}

.chat-input-sausage ion-textarea {
  --color: #000000;
  flex: 1;

  --background: transparent;
  --padding-start: 0;
  --highlight-color-focused: #000000;
  --highlight-color: #6A041D;
  --highlight-height: 0;

  max-height: 120px; /* ограничение роста */
  overflow-y: auto;
  --placeholder-color: #000000;
  --placeholder-opacity: 0.7;
}

.chat-input-sausage ion-input::part(native) {
  caret-color: #6A041D !important;
}

.chat-input-sausage ion-button {
  --border-radius: 25px;
}

ion-header {
  background-color: #FFEFD5;
  height: 85px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

ion-header ion-toolbar {
  position: relative;
  --background: transparent;
  --border-width: 0;
  box-shadow: none;
  border: none;
  display: flex;
  align-items: center;  /* вертикальный центр */
  justify-content: flex-start; /* элементы слева */
  gap: 8px; /* небольшой промежуток между элементами */
  padding: 0 12px;
  margin-top: 15px;
}

.toolbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

ion-buttons {
  display: flex;
  align-items: center;
}

ion-title{
  color: black;
  font-family: Limelight;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  flex: 0;


  display: flex;
  align-items: center;
  justify-content: flex-start
}

.back-icon {
  width: 24px;   /* размер стрелки */
  height: 24px;
  object-fit: contain;
}

.imgPerfilMini {
  width: 40px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  object-fit: cover;
}
.chat-message {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 6px;
  align-items: start;

  --inner-border-width: 0;
  --border-width: 0;
}

.chat-message .user {
  font-weight: 600;
  white-space: nowrap;
}

.chat-message .text {
  word-break: break-word;
}

.message-row {
  display: flex;
  width: 100%;
  margin: 6px 0;
}

.bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 16px;
  font-size: 14px;
  word-break: break-word;
}

/* МОИ сообщения */
.mine {
  margin-left: auto;
  background: #D9D9D9;
  color: black;
  border-bottom-right-radius: 4px;
}

/* ЧУЖИЕ сообщения */
.other {
  margin-right: auto;
  background: #D9D9D9;
  color: black;
  border-bottom-left-radius: 4px;
}

.date-divider {
  text-align: center;
  font-size: 12px;
  color: #FFEFD5;
  margin: 10px 0;
  position: relative;
}

.date-divider::before,
.date-divider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background: #FFEFD5;
}

.date-divider::before {
  left: 0;
}

.date-divider::after {
  right: 0;
}

.time {
  font-size: 10px;
  margin-top: 4px;
  text-align: right;
  opacity: 0.6;
}

.toolbar-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.toolbar-right button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
