<ion-header>
  <ion-toolbar>
    <div class="toolbar-left">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <img src="assets/iconsYimgs/arrowLeft.png" alt="Back" class="back-icon">
        </ion-button>
      </ion-buttons>

      <ion-img class="imgPerfilMini" [src]="otherUserPhoto"></ion-img>
    </div>

    <ion-title>{{ otherUserName }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" #content>
  <ion-list class="message">
    <div *ngFor="let msg of messages" class="message-row">

      <div
        class="bubble"
        [class.mine]="msg.senderUid === currentUserUid"
        [class.other]="msg.senderUid !== currentUserUid"
      >

        {{ msg.text }}

      </div>

    </div>
  </ion-list>
</ion-content>

<!-- Floating input “сосиска” -->
<div class="chat-input-sausage">

  <ion-textarea
    autoGrow="true"
    placeholder="Mensaje"
    [(ngModel)]="newMessage">
  </ion-textarea>

  <button class="arrow-button" (click)="send()">
    <img class="arrow" src="assets/iconsYimgs/arrowUp.png" alt="arrow" />
  </button>

</div>
