ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-list {
  flex: 1;
  overflow-y: auto;
}

ion-footer ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-footer ion-input {
  flex: 1;
}

ion-list ion-item {
  background: #f1f1f1;
  margin-bottom: 4px;
  border-radius: 4px;
}
