<ion-header>
  <ion-toolbar>

    <div class="toolbar">

      <div class="left">
        <button (click)="goBack()" class="back-btn">
          <img src="assets/icon/back8.png" class="back-icon">
        </button>

        <img class="imgPerfilMini" [src]="otherUserPhoto" />
      </div>

      <div class="center">
        {{ otherUserName }}
      </div>

      <div class="right">
        <button (click)="toggleMusic()">
          <img
            [src]="isMusicOn ? 'assets/icon/musicOn.png' : 'assets/icon/musicOff.png'"
            class="header-icon">
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" #content>
  <ion-list class="message">

    <div *ngFor="let group of messages">

      <div class="date-divider">
        {{ formatDate(group.date) }}
      </div>

      <div *ngFor="let msg of group.messages" class="message-row">

        <div
          class="bubble"
          [class.mine]="msg.senderUid === currentUserUid"
          [class.other]="msg.senderUid !== currentUserUid"
        >
          {{ msg.text }}

          <div class="time">
            {{ formatTime(msg.timestamp) }}

            <span
              *ngIf="msg.senderUid === currentUserUid"
              class="ticks"
            >
              {{ isSeen(msg) ? '✔✔' : '✔' }}
            </span>
          </div>

        </div>

      </div>

    </div>

  </ion-list>
</ion-content>

<div class="chat-input-sausage">

  <ion-textarea
    autoGrow="true"
    placeholder="Mensaje"
    [(ngModel)]="newMessage">
  </ion-textarea>

  <button class="arrow-button" (click)="send()">
    <img class="arrow" src="assets/iconsYimgs/arrowUp.png" alt="arrow" />
  </button>

</div>
