<ion-content class="page-content">
  <div class="header-bar">
    <button class="back-btn" (click)="goBack()">
      <img src="assets/icon/back9.png" alt="Back" class="back-icon">
    </button>

    <h1>ESTADÍSTICAS</h1>
  </div>

  <div *ngIf="isLoading" class="loading">
    <p>Cargando...</p>
  </div>

  <div *ngIf="!isLoading" class="stats-container">

    <div class="stat-card">
      <p class="stat-number">{{ matchesCount }}</p>
      <p class="stat-label">MATCHES</p>
    </div>

    <div class="stat-card">
      <p class="stat-number">{{ likesCount }}</p>
      <p class="stat-label">LIKES</p>
    </div>

    <div class="stat-card">
      <p class="stat-number">{{ messagesCount }}</p>
      <p class="stat-label">MENSAJES</p>
    </div>

  </div>

  <div *ngIf="!isLoading && matchesCount === 0" class="empty">
    <p>Aún no tienes actividad </p>
  </div>
</ion-content>
