<ion-content>
  <div class="header-container">
    <p class="custom-title">CONFIGURCAIONES</p>
  </div>

  <div class="header-container">
    <p class="custom-title">Edita tu informacion</p>
  </div>

  <ion-item class="custom-buttons">
    <ion-buttons slot="start">
      <ion-button fill="clear">Editar</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">Vista Previa</ion-button>
    </ion-buttons>
  </ion-item>

  <div class="header-container">
    <p class="custom-title title-left">Explica algo sobre ti</p>
  </div>

  <ion-item class="campoTxt">
    <ion-label position="floating"></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <div class="header-container">
    <p class="custom-title title-left">Genero</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="action-sheet" placeholder="Seleccionar Genero">
        <ion-select-option value="apples">Masculino</ion-select-option>
        <ion-select-option value="oranges">Femenino</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
