<ion-content class="page-content" fullscreen="true">

  <div class="header">
    <h1 class="page-title">Chats</h1>
  </div>

  <div class="content-wrapper">

    <!-- SKELETON -->
    <div *ngIf="loading">

      <div *ngFor="let s of [1,2,3]" class="match-item">

        <ion-item-sliding>

          <ion-item lines="none" class="chat-item">

            <div class="chat-card skeleton-card">

              <div class="skeleton-img skeleton"></div>

              <div class="chat-info">
                <div class="skeleton-text name skeleton"></div>
                <div class="skeleton-text message skeleton"></div>
              </div>

              <div class="chat-meta">
                <div class="skeleton-text time skeleton"></div>
              </div>

            </div>

          </ion-item>

        </ion-item-sliding>

      </div>

    </div>


    <!-- MATCH LIST -->
    <div *ngIf="!loading">

      <ng-container *ngFor="let match of matches; let i = index">

        <ion-item-sliding>

          <ion-item lines="none" class="chat-item">

            <div class="chat-card" (click)="goToChat(match.id)">

              <div class="profile-image">
                <img [src]="match.photo">
              </div>

              <div class="chat-info">
                <h2 class="chat-name">{{ match.name }}</h2>

                <p class="last-message">
                  <!--Ultimo mensaje:--> {{ match.lastMessage }}
                </p>
              </div>

              <div class="chat-meta">
                <span class="chat-time">{{ match.time }}</span>

                <div *ngIf="isUnread(match)" class="unread-dot"></div>
              </div>
            </div>

          </ion-item>


          <ion-item-options side="start">

            <ion-item-option (click)="deleteChat(match.id)">
              <img class="iconDelete" src="assets/icon/delete.png">
            </ion-item-option>

          </ion-item-options>

        </ion-item-sliding>


        <!-- DIVIDER -->
        <div class="divider-line" *ngIf="i < matches.length - 1"></div>

      </ng-container>

    </div>


    <!-- EMPTY -->
    <div *ngIf="!loading && matches.length === 0" class="no-chats">
      <p>No tienes conversaciones aún</p>
    </div>

  </div>


  <!-- BOTTOM BAR -->
  <div class="bottom-bar">

    <div class="bar-container">

      <button class="bar-btn" (click)="goHome()">
        <img src="assets/icon/LogoMini.png" alt="Logo The Flop" />
      </button>

      <button class="bar-btn active" (click)="goToChatList()">
        <img src="assets/iconsYimgs/messege2.png" alt="Logo Mensaje">
      </button>

      <button class="bar-btn" (click)="goStats()">
        <img src="assets/icon/statsIcon.png" alt="Logo Stats">
      </button>

      <button class="bar-btn" (click)="goToSlotsGame()">
        <img src="assets/icon/chip.png" alt="Logo Game">
      </button>

    </div>


    <div class="config">
      <button (click)="goToSettings()">
        <img src="assets/iconsYimgs/newSettings.png" alt="settings" />
      </button>
    </div>

  </div>

</ion-content>
