<ion-content class="page-content">


  <div class="content-wrapper">
    <p>
      Slot_PAGE
    </p>
    <!-- content -->
  </div>

  <div class="bottom-bar">
    <div class="bar-container">
      <button class="bar-btn" (click)="goHome()">
        <img src="assets/iconsYimgs/logoTest.png" alt="Logo The Flop" />
      </button>

      <div class="divider"></div>

      <button class="bar-btn" (click)="goToSlotsGame()">🎰</button> <!-- slot game -->

      <div class="divider"></div>

      <button class="bar-btn" (click)="goToChatList()"> <!-- chat-list btn -->
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </button>

      <div class="divider"></div>

      <button class="bar-btn" (click)="shout()">
        📢
      </button>

    </div>
  </div>

</ion-content>
