<ion-content class="page-content">


  <div class="content-wrapper">
    <img class="out" src="assets/icon/outOff.png">
  </div>

  <div class="bottom-bar">
    <div class="bar-container">
      <button class="bar-btn" (click)="goHome()">
        <img src="assets/icon/LogoMini.png" alt="Logo The Flop" />
      </button>

      <button class="bar-btn active" (click)="goToChatList()">
        <img src="assets/iconsYimgs/messege2.png" alt="Logo Mensaje">
      </button>

      <button class="bar-btn" (click)="goStats()">
        <img src="assets/icon/statsIcon.png" alt="Logo Stats">
      </button>

      <!--<button class="bar-btn" (click)="shout()">
        📢
      </button>-->

      <button class="bar-btn" (click)="goToSlotsGame()">
        <img src="assets/icon/chip.png" alt="Logo Game">
      </button>
    </div>
    <div class="config">
      <button (click)="goToSettings()">
        <img src="assets/iconsYimgs/newSettings.png" alt="settings" />
      </button>
    </div>
  </div>

</ion-content>
