.content-wrapper {
  padding: 16px;
  padding-bottom: 120px;
}

.bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;

  padding: 0 16px;
  z-index: 10;
}

.bar-container {
  width: 100%;
  height: 80px;

  background: #D9D9D9;
  border: 4px solid #000;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.bar-btn {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  border: 2px solid #000;

  background: transparent;
  color: #000;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 1px;
  height: 60%;
  background: black;
  border-radius: 1px;
}
