.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  ion-item {
    --background: #D9D9D9;
    color: #919191;
    border-radius: 20px;
    width: 80%;
    margin: 2vh 0;
    /* flex-direction и display убраны, чтобы floating label работал правильно */
  }

  ion-label {
    font-size: 1rem;
  }

  ion-input {
    font-size: 1rem;
    --padding-start: 10px;
  }

  .btnTipo1 {
    --background: #FFBF00;
    color: white;
    font-family: 'Limelight';
    font-size: 30px;
    width: 75%;
    min-height: 8vh;
    border-radius: 100px;
    margin-top: 15vh;
    display: block;
  }

  .btnTipo2 {
    color: white;
  }
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
