<ion-content class="page-content">

  <div class="header">
    <div class="logo-container">
      <img src="assets/iconsYimgs/logoTest.png" alt="Logo The Flop" />
    </div>

    <div class="config">
      <button (click)="goToSettings()">
        <img src="assets/iconsYimgs/settingsIcon.png" alt="settings" />
      </button>
    </div>
  </div>



  <div class="content">

  </div>

  <div class="bottom-bar-single">
    <button class="single-btn check" (click)="onCheck()">ALL IN</button>
    <button class="single-btn cross" (click)="onCross()">X</button>
  </div>

  <div class="bottom-bar">
    <div class="bar-container">
      <button class="bar-btn" (click)="goHome()">
        <img src="assets/iconsYimgs/logoTest.png" alt="Logo The Flop" />
      </button>

      <div class="divider"></div>

      <button class="bar-btn" (click)="goToSlotsGame()">🎰</button> <!-- slot game -->

      <div class="divider"></div>

      <button class="bar-btn" (click)="goToChatList()"> <!-- chat-list btn -->
        <!--<img src="assets/iconsYimgs/mensaje.jpg" alt="Logo Mensaje">-->
      </button>

      <div class="divider"></div>

      <button class="bar-btn" (click)="shout()">
        📢
      </button>

    </div>
  </div>

</ion-content>
