<ion-content class="page-content">

  <div class="header">
    <div class="logo-container" (click)="onLogoClick()">
      <img src="assets/iconsYimgs/logoTest.png" alt="Logo The Flop" />
    </div>
  </div>

  <div class="content" [class.highlight]="tutorialStep === 1" [ngClass]="swipeDirection">
    <div *ngIf="isLoading" class="loading">
      <p>Cargando... </p>
    </div>
    <div *ngIf="currentMatch" class="match-card">

      <img
        *ngIf="currentMatch.photos?.length"
        [src]="currentMatch.photos[0]"
        alt="Foto de perfil"
        class="match-photo"/>

      <div class="match-description">
        {{ currentMatch.description || 'Sin descripción' }}
      </div>

      <div class="match-data">
        <span>{{ currentMatch.age ?? '--' }} años</span>
        <span>{{ currentMatch.gender || 'Sin especificar' }}</span>
      </div>
    </div>

    <div *ngIf="!currentMatch && !isLoading" class="no-matches">

      <img src="assets/icon/emptyStateHome.png" class="empty-img" />

      <p class="empty-text">
        Aún no hay nadie, pero estamos buscando
      </p>

      <button class="reload-btn" (click)="reloadMatches()">
        REINTENTAR
      </button>

    </div>
  </div>

  <div class="bottom-bar-single"
       [class.highlight-allin]="tutorialStep === 2"
       [class.highlight-pass]="tutorialStep === 3">
    <button class="single-btn cross" (click)="onCross()">PASS</button>
    <button class="single-btn check" (click)="onCheck()">ALL IN</button>
  </div>

  <app-navbar active="home"></app-navbar>

  <div *ngIf="isMatch" class="match-popup">

    <div class="match-card-popup">

      <h2 class="match-title">IT'S A MATCH</h2>

      <p class="match-subtitle">
        Tienes match con {{ matchedUser?.name }}
      </p>

      <div class="avatars">
        <img
          [src]="currentUser?.public?.photos?.[0] || 'assets/default-avatar.png'"
          class="avatar left"
        />

        <img *ngIf="matchedUser?.photos?.length" [src]="matchedUser.photos[0]" class="avatar right">
      </div>

      <button class="chat-btn" (click)="goToChatFromMatch()">
        CHAT
      </button>

      <button class="close-btn" (click)="closeMatch()">
        Cerrar
      </button>
    </div>
  </div>

  <div *ngIf="isTutorial === true" class="tutorial-overlay" (click)="nextStep()">

    <img
      src="assets/icon/Floppy.png"
      class="floppy"
      [ngClass]="'step-' + tutorialStep">

    <div class="tutorial-bubble" [ngClass]="'step-' + tutorialStep">
      {{ getTutorialText() }}
    </div>

  </div>
</ion-content>
