.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.logo-container img {
  height: 120px;
  width: auto;
  max-width: 100%;
}

.config {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.config button {
  all: unset;
  cursor: pointer;
}

.config img {
  width: 37px;
  height: 60px;
}


.content-wrapper {
  padding: 16px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px;
  height: 56vh;
  border: 2px solid #D9D9D9;
  border-radius: 30px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow:  3px 7px 15px rgba(0, 0, 0, 0.9);
}

.bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 0 16px;
  z-index: 10;
}

.bar-container {
  width: 100%;
  height: 80px;
  background: #D9D9D9;
  border: 4px solid #000;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.bar-btn {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  border: 2px solid #000;

  background: transparent;
  color: #000;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 1px;
  height: 60%;
  background: black;
  border-radius: 1px;
}

.bottom-bar-single {
  position: fixed;
  left: 50%;
  bottom: 155px;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 11;
}


.single-btn {
  width: 120px;
  height: 70px;
  border-radius: 999px;
  border: 2px solid black;
  background-color: #D9D9D9;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Limelight';
  color: #5D934F;
}

.single-btn.check {
  background-color: #D9D9D9;
}

.single-btn.cross {
  background-color: #D9D9D9;
}

