<ion-content class="page-content">

  <div class="logo-container">
    <img src="assets/iconsYimgs/logoTest.png" alt="Logo The Flop" />
  </div>


  <div class="content-wrapper">
    <!-- content -->
  </div>

  <div class="bottom-bar">
    <div class="bar-container">
      <button class="bar-btn">❌</button>

      <div class="divider"></div>

      <button class="bar-btn" (click)="goToSlotsGame()">🎰</button> <!-- slot game -->

      <div class="divider"></div>

      <button class="bar-btn" (click)="goToChatList()"> <!-- chat-list btn -->
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </button>

      <div class="divider"></div>

      <ion-button (click)="shout()">
        📢
      </ion-button>

    </div>
  </div>

</ion-content>
