/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
ion-app, ion-content {
  --background: #6A041D;
  background: #6A041D;
}

.login-container,{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  ion-item {
    --background: #D9D9D9;
    color: #919191;
    border-radius: 20px;
    width: 320px;
    margin: 40px;
  }
  .btnTipo1 {
    --background: #FFBF00;
    color: white;
    font-family: 'Limelight';
    font-size: 30px;
    border-radius: 100px;
    width: 360px;
    height:70px;
    margin-top: 80px;
  }
  .btnTipo2{
    color: white;
  }

  ion-label{
  }

}


@font-face {
  font-family: 'Limelight';
  src: url('./assets/fonts/Limelight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Limelight', sans-serif;
  font-size: 50px;
  color: #D9D9D9;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  margin-bottom: 70px;
  justify-content: start;
}

.btnTipo1 {
  --background: #FFBF00;
  color: white;
  font-family: 'Limelight';
  font-size: 30px;
  border-radius: 100px;
  width: 360px;
  height:70px;
  margin-top: 80px;
}

