/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'swiper/css';
@import 'swiper/css/pagination';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/*
 © 2026 Heorhii
 Final Degree Project (TFG)
 Unauthorized use or academic submission is prohibited.
*/

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
ion-app, ion-content {
  --background: #6A041D;
  background: #6A041D;
}

@font-face {
  font-family: 'Limelight';
  src: url('./assets/fonts/Limelight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lunasima';
  src: url("./assets/fonts/Lunasima-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

ion-popover {
  --background: #FFEFD5 !important;
  --color: black !important;
  --box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  border-radius: 12px;
}

ion-popover ion-item {
  --background: #FFEFD5 !important;
  --color: black !important;
}
ion-action-sheet {
  --background: #FFEFD5 !important;
  --color: black !important;
}

ion-action-sheet .action-sheet-button {
  color: black !important;
  font-family: 'Limelight', sans-serif;
}

ion-app {
  max-width: 500px;
  max-height: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

body {
  background: #1a1a1a;
}
